<%- include("head.ejs") %>
<main>
    <div class="banner">
        <span class="left-swipe swipe"><</span>

        <span class="right-swipe swipe">></span>
    </div>       
    <div class="posts-section">
        <h1 class="head">Latest</h1>
        <% posts.forEach(post => { %>
            <div class="posts">
                <h1 class="post-title"> <%= post.title %> </h1>
                <h2 class="post-content"> <%= post.content %> </h2>
                <h3 class="post-author"> By: <%= post.author %> </h3>
                <h4 class="post-date"> Date: <%= post.date %> </h4>
            </div>
        <%})%>
    </div>
</main>

<%- include("bottom.ejs") %>


